@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


:root {
    --bg-color: #000;
    --bg2-color: #383636;
    --text-color: #fff;
    --red-color: #f71616;
    --red1-color: #c0c5b9;
}

html{
    font-size: 62%;
    overflow-x: hidden;
}

body{
    background: var(--bg2-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header .sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}
.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}
a {
    text-decoration: none;
}

.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
    text-decoration: none;
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--bg-color);
    display: none;
}

.navbar a:hover,
.navbar a.active {
    color: black;
}

/* Home Section */
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-text h3 {
    font-size: 2.5rem;
    font-weight: 700;
}

.home-text h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

.home-text h1{
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-text p {
    font-size: 1.6rem;
}
.home-image img{
    width: 35vw;
    animation: floatImage 4s ease-in-out infinite;
}
@keyframes floatImage{
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translate(-2.4REM);
    }
    100% {
        transform: translate(0);
    }
}
span{
    color: var(--red-color);
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--red-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--red-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s ease;
}

.social-media a:hover{
    background-color: var(--red-color);
    color: var(--text-color);
    box-shadow: 0 0 1rem var(--bg-color);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--red-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--red-color);
    font-size: 1.6rem;
    color: var(--text-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.cv-btn:hover{
    box-shadow: none;
}

/* About Section */

.about {
    display: flex;
}

.about-img img {
    width: 35vw;
}

.heading{
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

/* Services Section */

.services h2{
    margin-bottom: 5rem;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.services-container .service-box{
    flex: 1 1 30rem;
    padding: 3rem 2rem 4rem;
    text-align: center;
    border: .1rem solid var(--text-color);
    transform: .1s;
    transition: .5 ease;
}

.services-container .service-box:hover{
    transform: scale(1.02);
    border: .1rem solid var(--red-color);
}
.service-box i {
    font-size: 7rem;
}

.service-box h3{
    font-size: 2.6rem;
}

.service-box p{
    font-size: 1.6rem;
}

.projects h2{
    margin-bottom: 4rem;
}

.projects-container{
    display: grid;
    grid-template-columns: repeat(3,  1fr);
    align-items: center;
    gap: 2.5rem;
}

.projects-container .project-box{
    position: relative;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
}

.project-box img{
    width: 100%;
    transition: .5s ease;
}

.project-box:hover img{
    transform: scale(1.1);
}

.project-box .project-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--red1-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
    color: var(--bg-color);
}

.project-box:hover .project-layer{
    transform: translateY(0);
}

.project-layer h4{
    font-size: 2.5rem;
}

.project-layer p{
    font-size: 1.6rem;
}

/* Contact Section */

.contact h2{
    margin-bottom: 2rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: #c0c5b9;
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input{
    width: 49%;
}

.contact form textarea{
    resize: none;
}
 
.footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: #040416;
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--red-color);
    border-radius: .7rem;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--bg-color);
}

/* BREAKPOINT CSS MEDIA QUERIRS*/

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }
    
    section{
        padding: 10rem 3% 2rem;
    }
    .services{
        padding-bottom: 7rem;
    }
    .projects {
        padding-bottom: 7rem;
    }
    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 680px) {
    #menu-icon {
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: #040416;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home{
        flex-direction: column;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home-image img{
        width: 100vw;
        margin-top: 4rem;
    }
    .about {
        flex-direction: column-reverse;
    }
    .about img {
        width: 70vw;
        margin-top: 4rem;
    }
    .services h2 {
        margin-bottom: 3rem;
    }
    .projects h2 {
        margin-bottom: 3rem;
    }
    .projects-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px) {
    .projects-container {
         grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html{
        font-size: 50%;
    }
    .contact form .input-box input {
        width: 100%;
    }

}

@media (max-width: 365px) {
    .home-image img {
        width: 90vw;
    }
    .about-img img {
        width: 90vw;
    }
    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}